# Load dataset

In [20]:
from ucimlrepo import fetch_ucirepo
import pandas as pd

# Fetch the Bike Sharing Dataset using ucimlrepo
bike_sharing = fetch_ucirepo(id=275)

# Dataset info
print(bike_sharing.metadata.abstract)

This dataset contains the hourly and daily count of rental bikes between years 2011 and 2012 in Capital bikeshare system with the corresponding weather and seasonal information.

In [21]:
bike_sharing.variables

,name,role,type,demographic,description,units,missing_values
0,instant,ID,Integer,None,record index,None,no
1,dteday,Feature,Date,None,date,None,no
2,season,Feature,Categorical,None,"1:winter, 2:spring, 3:summer, 4:fall",None,no
3,yr,Feature,Categorical,None,"year (0: 2011, 1: 2012)",None,no
4,mnth,Feature,Categorical,None,month (1 to 12),None,no
5,hr,Feature,Categorical,None,hour (0 to 23),None,no
6,holiday,Feature,Binary,None,weather day is holiday or not (extracted from ...,None,no
7,weekday,Feature,Categorical,None,day of the week,None,no
8,workingday,Feature,Binary,None,"if day is neither weekend nor holiday is 1, ot...",None,no
9,weathersit,Feature,Categorical,None,"- 1: Clear, Few clouds, Partly cloudy, Partly ...",None,no
10,temp,Feature,Continuous,None,Normalized temperature in Celsius. The values ...,C,no
11,atemp,Feature,Continuous,None,Normalized feeling temperature in Celsius. The...,C,no
12,hum,Feature,Continuous,None,Normalized humidity. The values are divided to...,None,no
13,windspeed,Feature,Continuous,None,Normalized wind speed. The values are divided ...,None,no
14,casual,Other,Integer,None,count of casual users,None,no
15,registered,Other,Integer,None,count of registered users,None,no
16,cnt,Target,Integer,None,count of total rental bikes including both cas...,None,no

Visualize features (X) and targets (y)

In [22]:
# Data about users is aggregated (casual and registered is simply discarded)

df = bike_sharing.data.features 
df

,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed
0,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0000
1,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0000
2,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0000
3,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0000
4,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
17374,2012-12-31,1,1,12,19,0,1,1,2,0.26,0.2576,0.60,0.1642
17375,2012-12-31,1,1,12,20,0,1,1,2,0.26,0.2576,0.60,0.1642
17376,2012-12-31,1,1,12,21,0,1,1,1,0.26,0.2576,0.60,0.1642
17377,2012-12-31,1,1,12,22,0,1,1,1,0.26,0.2727,0.56,0.1343
17378,2012-12-31,1,1,12,23,0,1,1,1,0.26,0.2727,0.65,0.1343

In [23]:
y = bike_sharing.data.targets 
y

       cnt
0       16
1       40
2       32
3       13
4        1
...    ...
17374  119
17375   89
17376   90
17377   61
17378   49

[17379 rows x 1 columns]

Preprocess dataset by removing useless attributes

In [24]:
def preprocess_dataset(X):
    """
    Preprocess the dataset by removing unnecessary attributes.
    """
    return X.drop(columns=["dteday", "yr"])

X = preprocess_dataset(df)

### Decision tree

In [25]:
from sklearn.tree import DecisionTreeRegressor

clf_tree = DecisionTreeRegressor(random_state=123)

Let's find the best parameters with a grid search

In [ ]:
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import mean_squared_error, r2_score

param_grid = {
    'max_depth': [5, 10, 15, 20, None],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 3, 5]
}

grid_search = GridSearchCV(
    estimator=clf_tree,
    param_grid=param_grid,
)

grid_search.fit(X, y)

best_model = grid_search.best_estimator_
print("Best parameters:", grid_search.best_params_)

y_pred = best_model.predict(X)
mse = mean_squared_error(y, y_pred)
r2 = r2_score(y, y_pred)

print(f"MSE: {mse:.2f}")
print(f"R²: {r2:.4f}")

### Linear regression

In [ ]:
from sklearn.linear_model import LinearRegression

clf_lr = LinearRegression()

Evaluate the model

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=123)

clf_lr.fit(X_train, y_train)

# Evaluation
y_pred = clf_lr.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f"MSE (Linear): {mse:.2f}")
print(f"R² (Linear): {r2:.4f}")